{% extends "shared/layout.html" %}

{% block content %}

    <img src="/static/img/ToDo.png" style="float: left; max-width: 48px; margin-right: 20px;" alt="">

    <h1><span class="font-semi-bold">ToDo Application</span> <span class="smaller">A RESTful ToDo API</span>
    </h1>

    <div style="clear:both;"></div>
    <br>
    <p class="lead">
        <a href="https://github.com/ArmanShakeri/">Arman Shakeri</a><br>
        <br>
        <strong>Description</strong>
        <br>
        This is a simple ToDo API with FastAPI.
        <br>
        <br>
        <strong>Methods</strong>
    <ul>
        <li>
            <strong>Get list of all existing task</strong>
            <br>
        </li>
        <li>
            <strong>Get an existing task</strong>
            <br>
        </li>
                <li>
            <strong>Create new task</strong>
            <br>
                </li>
                <li>
            <strong>Delete a task by id</strong>
            <br>
                </li>
                <li>
            <strong>Update an existing task</strong>
            <br>
                </li>
    </ul>
                <br>
        <strong>Parameters</strong>
                <br>
                <br>
                <ul>
                    <li><strong>Required</strong>: <code>id={id}</code> - An integer that serves as the unique identifier for the task.
                    <li><strong>Required</strong>: <code>title={title}</code> - A string that contains the title of the task.
                    <li><strong>Required</strong>: <code>description={description}</code> - A string that contains a more detailed description of the task.
                    <li><strong>Required</strong>: <code>done={done}</code> - A boolean that indicates whether the task has been completed.
                    </li>
                </ul>
        <br>
        <div style="font-size: 16px;">
            Click <a href="http://127.0.0.1:8000/docs"
                                 target="_blank"
                    >here</a> to see Swagger UI.
        </div>
    </p>


{% endblock %}